{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Synaptik AI Platform</h2>
						<h5 class="text-white op-7 mb-2">Communication Graph Between Intelligent Machines</h5>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<button onclick="startFullRoutine()" class="btn btn-white btn-border btn-round mr-2">Render Full Sim</button>
						<button onclick="startBackgroundRoutine()" class="btn btn-white btn-border btn-round mr-2">Deploy Network Sim</button>
						<!-- <form action="/simulation" method="POST" class="btn btn-white btn-border btn-round mr-2"> <input type="submit" value="Deploy Network Sim"></form> -->
						<!-- <form action="/simulation" method="POST" class="btn btn-white btn-border btn-round mr-2"> <input type="submit" value="Deploy Network Sim"></form> -->
						<a href="#" class="btn btn-secondary btn-round" onclick="showFunction()">Add Endpoint</a>
						<div id="myDIV", style="display: none; padding: 20px;">
							<form id="myForm" style="border: 1px solid black; padding: 10px;">
								<label for="input1">Input 1:</label>
								<input type="text" id="input1" name="input1"><br><br>
							  
								<label for="input2">Input 2:</label>
								<input type="text" id="input2" name="input2"><br><br>
							  
								<label for="input3">Image Input:</label>
								<input type="file" id="input3" name="input3"><br><br>
							  
								<input type="button" value="Submit" onclick="addEndpoint()">
								<button type="button" onclick="cancel()">Cancel</button>
							</form>							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<!-- <div class="card full-height">
						<div class="card-body">
							<div class="card-title">Graph</div>
							
      						<img src="{{ url_for('static', filename=graph) }}" />
						</div>
					</div> -->

					{% block graph %}
					{% endblock %}

				</div>


				<div class="col-md-6">
					

					{% block cost_visualization %}
					{% endblock %}
					
				</div>
			</div>
			
			<div class="row mt--2">
				<div class="col-md-6">
					<!-- <div class="card full-height">
						<div class="card-body">
							<div class="card-title">Graph</div>
							
      						<img src="{{ url_for('static', filename=graph) }}" />
						</div>
					</div> -->

					{% block connected_grid %}
					{% endblock %}

				</div>


				<div class="col-md-6">
					

					{% block usage_visualization %}
					{% endblock %}
					
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Top Sensors</div>
						</div>
						<div class="card-body pb-0">
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Thermal Storage</h6>
									<small class="text-muted">PhotoVoltaic Sensor</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$432</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">HVAC 1</h6>
									<small class="text-muted">Current Sensor</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$397</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">HVAC 3</h6>
									<small class="text-muted">Optical Sensor</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$342</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Electric Heater</h6>
									<small class="text-muted">Thermal Sensor</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$311</h3>
								</div>
							</div>
							<div class="pull-in">
								<canvas id="topProductsChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary bg-primary-gradient">
						<div class="card-body">
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Average Monthly Expenditure</h4>
							<h1 class="mb-4 fw-bold"  id="expenditure">$1700</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold" >Net Carbon Emissions</h4>
							<h1 class="mb-4 fw-bold" id="carbon">12 kt</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Net Electricity Consumption</h4>
							<h1 class="mb-4 fw-bold"  id="net_consumption">332 kWh</h1>
							<h4 class="mt-5 pb-3 mb-0 fw-bold">Greatest Reductions: > </h4>
							<ul class="list-unstyled">
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/sensor/type.h5</small> <span>HVAC 3</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/sensor/type.h5</small> <span>PV 1</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/sensor/type.h5</small> <span>Optical 2</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/sensor/type.h5</small> <span>PV 3</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/sensor/type.h5</small> <span>Optical 1</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Deployment Activity</div>
						</div>
						<div class="card-body">
							<ol class="activity-feed">
								<li class="feed-item feed-item-secondary">
									<time class="date" datetime="3-25">Mar 25</time>
									<span class="text">Latest Model Successfully Deployed <a href="#"></a></span>
								</li>
								<li class="feed-item feed-item-info">
									<time class="date" datetime="3-23">Mar 23</time>
									<span class="text">Latest Model Rollback <a href="single-group.php"></a></span>
								</li>
								<li class="feed-item feed-item-warning">
									<time class="date" datetime="3-21">Mar 21</time>
									<span class="text">Latest Model Warning <a href="#"></a></span>
								</li>
								<li class="feed-item feed-item-danger">
									<time class="date" datetime="3-18">Mar 18</time>
									<span class="text">Latest Model Failed <a href="#"></a></span>
								</li>
								<li class="feed-item feed-item-warning">
									<time class="date" datetime="3-15">Mar 15</time>
									<span class="text">Latest Model Warning <a href="#"></a></span>
								</li>
								<li class="feed-item feed-item-danger">
									<time class="date" datetime="3-12">Mar 12</time>
									<span class="text">Latest Model Failed <a href="#"></a></span>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

	<script>
		function hideFunction() {
			var x = document.getElementById("myDIV");
			if (x.style.display === "block") {
				x.style.display = "non";
			}
		}
	</script>

	<script>
		function showFunction() {
			var x = document.getElementById("myDIV");
			if (x.style.display === "none") {
				x.style.display = "block";
			}
		}
	</script>

	<script>
		function refreshImage() {
			var img = document.getElementById("comm-image");
			var timestamp = new Date().getTime();
			img.src = "{{ url_for('static', filename=comm_graph) }}?t=" + timestamp;
		}
		// setInterval(refreshImage, 5000); // Refresh every 1 second
	</script>

	<script>
        function startBackgroundRoutine() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/simulation", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    document.getElementById("message").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        }
		
        function startFullRoutine() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/run_simulation", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    document.getElementById("message").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        }
		
		const form = document.getElementById('endpointForm');

		const previousInputs = [];

		function addEndpoint() {

			const input1Value = document.getElementById('input1').value;
			const input2Value = document.getElementById('input2').value;

			document.getElementById("input1").value = "";
			document.getElementById("input2").value = "";
			document.getElementById
			document.getElementById("myDIV").style.display = "none";

			const inputArray = [input1Value, input2Value];
			previousInputs.push(inputArray);

			const xhr = new XMLHttpRequest();
			const url = 'generate_graph';
			const data = JSON.stringify(previousInputs);

			xhr.open('POST', url, true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(data);
		}

		// var oldInput1 = [];
		// var oldInput2 = [];

		// function addEndpoint() {
		// 	var file = document.getElementById("imageInput").files[0];
		// 	var a = document.createElement("a");
		// 	a.href = URL.createObjectURL(file);
		// 	a.download = file.name;
		// 	document.body.appendChild(a);
		// 	a.click();
		// 	document.body.removeChild(a);
		// 	oldInput1.push(document.getElementById("input1").value);
		// 	oldInput2.push(document.getElementById("input2").value);
		// 	var formData = new FormData();
  
		// 	for (var i = 0; i < oldInput1.length; i++) {
		// 		formData.append("input1", oldInput1[i]);
		// 	}
			
		// 	for (var j = 0; j < oldInput2.length; j++) {
		// 		formData.append("input2", oldInput2[j]);
		// 	}
			
		// 	console.log( oldInput1 );
		// 	console.log( oldInput2 );

		// 	formData.append("image", file);
		// 	var xhr = new XMLHttpRequest();
		// 	xhr.open("POST", "/generate_graph", true);
		// 	xhr.onload = function() {
		// 		if (xhr.status == 200) {
		// 			var input1 = document.getElementById("input1").value;
		// 			var input2 = document.getElementById("input2").value;
					
		// 			// var table = document.querySelector("table");
		// 			// var row = table.insertRow(-1);
		// 			// var cell1 = row.insertCell(0);
		// 			// var cell2 = row.insertCell(1);
		// 			// var cell3 = row.insertCell(2);
		// 			// var cell4 = row.insertCell(3);
					
		// 			// cell1.innerHTML = input1;
		// 			// cell2.innerHTML = input2;
		// 			// cell4.innerHTML = "<img src='" + URL.createObjectURL(file) + "' width='100'>";

		// 			document.getElementById("input1").value = "";
		// 			document.getElementById("input2").value = "";
		// 			document.getElementById("imageInput").value = "";
					
		// 			document.getElementById("myForm").style.display = "none";
		// 		}
		// 		else {
		// 			console.log("Request failed: " + xhr.status);
		// 		}
		// 	};
			
		// 	// Send the request
		// 	xhr.send(formData);
		// }

		function cancel() {
			document.getElementById("input1").value = "";
			document.getElementById("input2").value = "";
			document.getElementById
			document.getElementById("myDIV").style.display = "none";
		}

		function disableCommunication(val) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/disable_communication", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    document.getElementById("message").innerHTML = xhr.responseText;
                }
            };
			// console.log(JSON.stringify(Object.fromEntries(formData.entries())));
        	xhr.send(JSON.stringify({"communication": val}));
        }

	</script>
	<script>
		// Get the h1 element
		const expenditure = document.querySelector('#expenditure');
		const carbon = document.querySelector('#carbon');
		const net_consumption = document.querySelector('#net_consumption');
		
		// Set the text content dynamically
		
		function refreshText() {
                    $.ajax({
                        url: '/update_data',
                        type: 'POST',
                        data: 'SS',
                        contentType: 'application/json',
                        success: function(response) {
                            consPrice = response.consPrice;
                            netEmmisions = response.netEmmisions;
                            netConsumption = response.netConsumption;

							expenditure.textContent = '$'+consPrice;
							carbon.textContent = netEmmisions+' kT';
							net_consumption.textContent = netConsumption+' kWh';
                        }
                    });
                }
				
		setInterval(refreshText, 100);
		// setInterval(refreshImage, 5000); // Refresh every 1 second
	</script>
	

{% endblock javascripts %}
