{% extends "home/index.html" %}

{% block graph %}

    <div class="card full-height">

        <div class="card-header">
            <div class="card-head-row">
                <div class="card-title">Sensor Communication Graph</div>
                <div class="card-tools">
                    <button onclick="disableCommunication(true)" class="btn btn-info btn-border btn-round btn-sm">Enable Communication</button>
                    <button onclick="disableCommunication(false)" class="btn btn-info btn-border btn-round btn-sm">Disable Communication</button>

                </div>
            </div>
        </div>

        <div class="card-body">
    
            <div id="graph1"></div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script>
                var graph1 = {{ graphJSON | safe}};
                Plotly.plot("graph1", graph1.data, graph1.layout)
                
                function refreshGraph() {
                    $.ajax({
                        url: '/update_data',
                        type: 'POST',
                        data: JSON.stringify({'graphJSON': graph1}),
                        contentType: 'application/json',
                        success: function(response) {
                            graphJSON = response.graphJSON;
                            // console.log(graphJSON);
                            Plotly.newPlot('graph1', JSON.parse(graphJSON).data, JSON.parse(graphJSON).layout);
                        }
                    });
                }
		        setInterval(refreshGraph, 100);
                

                // // Update the graph data when the button is clicked
                // $('#update-btn').click(function() {
                    
                // });
            </script>
        </div>
    </div>


{% endblock %}



{% block cost_visualization %}
    <div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-title">Key Performance Indicator</div>
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                        <span class="btn-label">
                            <i class="fa fa-pencil"></i>
                        </span>
                        Export
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div id="graph2"></div>
            
            <!-- plotly CDN-->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script>
                var graph2 = ({{costJSON | safe}});
                Plotly.plot("graph2", graph2.data, graph2.layout)

                function refreshGraph() {
                    $.ajax({
                        url: '/update_data',
                        type: 'POST',
                        data: JSON.stringify({'costJSON': graph2}),
                        contentType: 'application/json',
                        success: function(response) {
                            costJSON = response.costJSON;
                            Plotly.newPlot('graph2', JSON.parse(costJSON).data, JSON.parse(costJSON).layout);
                        }
                    });
                }
                setInterval(refreshGraph, 100);
            </script>
        </div>
    </div>

{% endblock %}


{% block connected_grid %}

    <div class="card full-height">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-title">Edge Network</div>
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                        <span class="btn-label">
                            <i class="fa fa-pencil"></i>
                        </span>
                        Configure Device
                    </a>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <img id="comm-image" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename=comm_graph) }}" />
        </div>
    </div>


    <!--plotly CDN-->
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graph1, {})
    </script> -->
{% endblock %}


{% block usage_visualization %}
    <div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-title">Additional Performance Metrics</div>
                <div class="card-tools">
                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
                        <span class="btn-label">
                            <i class="fa fa-pencil"></i>
                        </span>
                        Export
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="graph3"></div>
            
            <!-- plotly CDN-->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script>
                var graph3 = ({{metricsJSON | safe}});
                Plotly.plot("graph3", graph3.data, graph3.layout)

                function refreshGraph() {
                    $.ajax({
                        url: '/update_data',
                        type: 'POST',
                        data: JSON.stringify({'metricsJSON': graph3}),
                        contentType: 'application/json',
                        success: function(response) {
                            metricsJSON = response.metricsJSON;
                            Plotly.newPlot('graph3', JSON.parse(metricsJSON).data, JSON.parse(metricsJSON).layout);
                        }
                    });
                }
                setInterval(refreshGraph, 100);
            </script>

            <!-- <div class="card-body">
                <img style="max-width: 100%; height: auto;" src="{{ url_for('static', filename=metric_chart) }}" />
            </div> -->
            <!-- <div class="chart-container" style="min-height: 375px">
                <canvas id="statisticsChart"></canvas>
            </div>
            <div id="myChartLegend"></div> -->
        </div>
    </div>

{% endblock %}